# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
build/.vs/
tools/fonttool/Debug
build/al.d3d11/Debug
build/al.d3d11/Release
build/al/x64
build/fastlz/Debug
build/minizip/Release
build/zlib/Release
build/minizip/Debug
build/libpng/Release
build/fastlz/Release
build/jpeglib/Debug
build/demo/x64
build/demo/Debug
build/demo/Release
build/jpeglib/Release
build/libpng/Debug
build/zlib/Debug
build/zlib/x64
build/al/Release
build/al/Debug
